body {
  text-align: center;
  background-color: #263454;
  font-family: "Arvo", cursive;
}

h1 {
  font-size: 6rem;
  color: #dbedf3;
  text-shadow: 2px 0 #da0463;
}

footer {
  color: #dbedf3;
  font-size: 2rem;
}

.w {
  background-image: url("imagesJQuery/crash.png");
}

.a {
  background-image: url("imagesJQuery/kick.png");
}

.s {
  background-image: url("imagesJQuery/snare.png");
}

.d {
  background-image: url("imagesJQuery/tom1.png");
}

.j {
  background-image: url("imagesJQuery/tom2.png");
}

.k {
  background-image: url("imagesJQuery/tom3.png");
}

.l {
  background-image: url("imagesJQuery/tom4.png");
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
  transform: scale(1.1);
  border-color: white;
}

.drum {
  outline: none;
  border: 10px solid #404b69;
  font-size: 5rem;
  line-height: 2;
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}